* { margin: 0; padding: 0;}

body, html { height:100%; }


/*$color1: rgba(239, 111, 108, 1);
$color2: rgba(97, 255, 126, 1);
$color3: rgba(70, 87, 117, 1);
$color4: rgba(89, 201, 165, 1);
$color5: rgba(53, 167, 255, 1);*/

canvas {
    position:absolute;
    overflow: hidden;
    background: #212121;
}

.startMenu {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
  width: 40%;
}

.menu {
  position: relative;
  z-index: 1;
  background: #61ff7e;
  border-radius: 7px;
  width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#startBtn {
  display: none;
}

.btn {
  background-color: #35a7ff;
  padding: 50px;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 3% auto;
  display: block;
}

.btn:hover {
  background: #465775;
  color: #ffffff;
}
